<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Contact - Les petites emplettes</title>
    <link rel="stylesheet" type="text/css" href="css/style-principal.css">
    <meta charset="utf-8">
</head>


<body>

<nav th:replace="~{fragments::menu('contact')}"></nav>


<div id="contacter">


    <form method="post" class="contact">

        <div class="form">

         <div class="date">
        <br><label>Date du jour :</label>
        <input type="date" name="bday"></div>

        <div class="name">
            <label for="prenom">Prénom(s)</label>
        <input type="text" id="prenom" name="prenom" placeholder="Entrez votre/vos prénom(s)">
        </div>

        <div class="lastname">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" placeholder="Nom de famille">
        </div>

        <div class="mail">
        <label for="email">E-mail </label>
        <input type="email" name="email" placeholder="votre_adresse@mail.x">
        </div>

        <div class="situation">
        <label for="situation">Situation :</label> <!--Case à cocher pour savoir la situation de la personne-->
        <input type="radio" name="job" value="student"> Etudiant(e)
        <input type="radio" name="job" value="worker"> Salarié(e)
        <input type="radio" name="job" value="retired"> Retraité(e)
        </div>

        <div class="place">
        <br><label for="region">Région</label> <!--Menu déroulant pour choisir sa région-->
        <select id="region" name="region">
            <option value="nord">Nord</option>
            <option value="sud">Sud</option>
            <option value="est">Est</option>
            <option value="ouest">Ouest</option>
        </select>
        </div>

        <div class="message">
        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Ecrivez-nous..." style="height:100px"></textarea>
        </div>

        <input type="submit" value="Submit" onclick="alert('Votre message a bien été transmis ! Bonne continuation sur Les Petites Emplettes')" >

    </form>

</div>
</div>




<nav th:replace="~{fragments::footer}"></nav>


</body>

</html>
