<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
>
    <head>
        <title>Les petites emplettes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style-principal.css">
    </head>


<body>


    <div id = "enTete"> <!--En tête de la page-->
        <img src="img/cover.png" id="cover">
        <p>Ce site Web est consacré à la vente de vêtements, hommes et femmes, de toutes tailles et de tous styles.</p>
        <div id="connexion">
            <a href="connexion">Se connecter</a>

        </div>
    </div> <!--Fin de l'en-tête-->


    <nav th:replace="~{fragments::menu('home')}"></nav>



    <div id = "promo"> <!-- Début de section "promo"-->
        <img src="img/promo.png">
    </div> <!-- Fin de section "promo"-->


    <nav th:replace="~{fragments::footer}"></nav>


</body>
</html>


